<!DOCTYPE html>
<html>
  <head>
    <title>Trailblazer</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@500&display=swap", media: 'all' %>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
